@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'fuenteDK';
    src: url('./fuente/DK\ Die\ Bruecke.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'fuenteDK';
    background: #0D0708;
    background: linear-gradient(180deg,rgba(13, 7, 8, 1) 0%, rgba(5, 24, 46, 1) 44%, rgba(34, 60, 79, 1) 100%);
}



.site-header {
    width: 100%;
    max-height: 110px;
    padding: 5px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)), url("./img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-content {
    width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}


.site-header h1 {
    display: inline;
    padding: 2px 4px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    letter-spacing: 1px;
    color: #112546;
    
}

.nombre_tesis {
    font-size: 20px;
    color: #141414;
}

.site-header h2 {
    display: inline;
    padding: 0 3px;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 8px;
    color: #363434;
}



.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 30px 80px;
    display: flex;
    position: relative;
    top: 100px;
    z-index: 50;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}




.gallery-item {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.gallery-item:hover {
    transform: translateY(-3px);
}



.image-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 8px;
    background: rgb(232, 232, 230, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover .image-wrapper img {
    transform: scale(1.03);
}


.work-number {
    font-size: 18px;
    color: #eebebe;
    padding-top: 5px;
    letter-spacing: 1px;
    text-align: center;
}


.glightbox-container .gslide-title {
    color: #28012b;
    font-family: "Hedvig Letters Serif", serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

.glightbox-clean .gdesc-inner{
    margin: 0;
    padding: 10px 20px;
    background-image: linear-gradient(rgba(138, 138, 138, 0.35),
            rgba(119, 119, 119, 0.35)), url(./decoration/fondo.jpg);
    background-repeat: no-repeat;
    background-position: 12%;
    background-size: cover;

}
.gslide-description {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 28px;
    font-weight: 800;
    color: #1c3763;
    padding-top: 0;
    margin-top: 0;
    
}


.site-footer {
    text-align: center;
    padding: 25px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #857676;
}

@media (max-width: 900px) {

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .gallery-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 650px) {

    .site-header {
        padding: 30px 20px 25px;
    }

    .site-header h1 {
        font-size: 26px;
    }

    .gallery-container {
        padding: 25px 15px 50px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px 12px;
    }

    .work-number {
        font-size: 12px;
        padding-top: 7px;
    }
}


@media (max-width: 380px) {

    .gallery {
        gap: 12px 8px;
    }
}

